[Desktop Entry]
Name=Video Shape
Name[cs]=Video Shape
Name[de]=Video-Objekt
Name[es]=Forma vídeo
Name[et]=Videokujund
Name[fr]=Forme de vidéo
Name[it]=Forma video
Name[km]= 
Name[nds]=Form "Video"
Name[nl]=Video-vorm
Name[pl]=Kształt wideo
Name[pt]=Forma de Vídeo
Name[pt_BR]=Forma de vídeo
Name[sv]=Videoform
Name[uk]=Форма відео
Name[x-test]=xxVideo Shapexx
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=videoshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
